
*.fls

*.fdb_latexmk

\.vscode/

*.toc

InternalDoc/velout_doc_internal\.aux

InternalDoc/velout_doc_internal\.log

InternalDoc/velout_doc_internal\.out

InternalDoc/velout_doc_internal\.synctex\.gz

Report/uu_cern_thesis_report.lof

Report/uu_cern_thesis_report.lot
